html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: "Quicksand";
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(37, 49, 84, 0.73);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: left;
}

.logo {
  width: 150px;
  margin-top: 20px;
}

/* TOP WRAPPER */

.top-wrapper {
  text-align: center;
  color: #1a665c;
  background-color: #30363d;
  padding: 120px 0 30px 0;
  width: auto;
}

.top-title {
  opacity: 0.8;
}

.top-title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.top-title p {
  margin-bottom: 4px;
  color: white;
}

/* FOOTER */
footer {
  padding: 0 16px;
  height: 80px;
  background-color: #30363d;
  padding-top: 10px;
}

.position-list-style {
  border-top: 1px solid #fff;
}

.list-bottom {
  margin-bottom: 0;
}

.list-bottom li {
  font-size: 12px;
  padding: 20px 20px;
  color: #65daca;
  float: right;
  cursor: pointer;
}