body {
  margin: 0;
  font-family: "Quicksand";
}

.container {
  width : 1170px;
  padding : 0 15px;
  margin : 0 auto;
}

header {
  height : 65px;
  width : 100%;
  background-color : rgba(37, 49, 84, 0.73);
  position : fixed;
  top : 0;
  z-index : 10;
}

.header-logo {
  float : left;
}

.logo {
  width : 150px;
  margin-top : 20px;
}
